<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Buffet Food Edit</title>
</head>
<body>
    <div>
        <form onsubmit="popup()" action="/MainBuffet_Edit" method="post">
                <div class="page_title"><h1>Edit Main Buffet</h1></div>
                <input type="text" class="employee_input_field" name="Title" placeholder="Title"><br>
                <textarea class="employee_input_field" name="Description" placeholder="Description"></textarea><br>
                <input type="submit" class="submit_button" value="Submit">
        </form>
    </div>
</body>

<script>
    function popup(){
       window.alert("success")
    }
</script> 

</html>