.employee_input_field{
    padding-left: 10px;
    margin: 10px;
}
.page_title{
    margin:20px;
}
.submit_button{
    margin:20px;
}
.back_button{
    margin-left:20px;
}
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}
